html {
  font-size: 16px;
}

.bridge-default-dialog {
  > .header {
    padding: 20px 10px 10px !important;
    justify-content: center;
    > :first-child {
      text-align: center;
    }
    &:after {
      content: '';
      background: black;
      height: 1px;
      width: 20px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    > span.close {
      display: none !important;
    }
  }
}

@media (max-width: 800px) {
  html {
    font-size: 24px;
  }
}
